<header class="col-xs-3 noDisplay">
	<div id="logo" class="noDisplay">
		<a href=""><img src="/blog/templates/assets/images/Logo-Geek-de-Montagne2.png" alt="logo geek de montagne" class="center-block"></a>
	</div>
</header>