<!-- Menu -->	

<nav class="col-xs-9" id="nav">
	<ul class="ulMenu">
		<li><a href="index.php">Accueil</a></li>
		<li><a href="index.php?page=article">Voir les articles</a></li>
		<li><a href="index.php?page=ajouter">Ajouter un article</a></li>
	</ul>
</nav>