<!-- Menu -->	

<nav class="col-xs-9" id="nav">
	<ul class="ulMenu">
		<li><a href="http://localhost/blog/">Accueil</a></li>
		<li><a href="http://localhost/blog/article">Voir les articles</a></li>
		<li><a href="http://localhost/blog/ajouter">Ajouter un article</a></li>
	</ul>
</nav>