{% extends "layout.twig" %}

{% block content %}
	<div class="row imgAccueil">
		<div class="col-md-2  bloc bloc2">
			<h2 class="nom">Chris Taylor</h2>
			<img src="templates/assets/images/chris.jpg" alt="photo chris" class="center-block imgPortrait">
			<em>A travers ce site, je souhaite partager mon expérience de la montagne avec l’oeil d’un débutant, contrairement à la plupart des sites spécialisés qui s’adressent principalement aux skieurs/randonneurs chevronnés.
			</br>
			Chris
			</em>
		</div>	
		<div class="col-md-3  bloc bloc1">
			<h2 class="nom">Contacter moi</h2>
			<form method="post" action="./mail">
				<label class="lab">Nom :</label><input type="text" name="nom" required />
				</br>
				<label class="lab">Prénom :</label><input type="text" name="prenom" />
				</br>
				<label class="lab">Email :</label><input type="email" name="email" required/>
				</br>
				<label >Votre message</label> :</br> <TEXTAREA name="contenu" rows=4 cols=45 class="textarea" wrap=physical placeholder="Rédiger votre message ici" required  /></TEXTAREA>
				</br>
				<input type="submit" value="Envoyer" class="envoyer btn" /> {{ afficherMail }}
			</form>
		</div>	
	</div>
{% endblock %}